span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: firebrick;
    border-radius: 100%;
    text-align: center;
    color: #fff;
    margin: 0 10px;
    cursor: pointer;;
}
ul li{
    border-bottom: 1px dashed #333;
    margin: 8px 0;
}

ul{
    text-align: left;
}

section{
    max-width: 600px;
    margin: auto;
    text-align: center;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    background-color: #ffc107;
}
button{
    width: 20%;
    margin: 15px 0;
    padding: 15px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background-color: #000;
    color:#fff
}

input {
    width: 70%;
    padding: 10px;
}

.completed {
    text-decoration: line-through white;
}